name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  go-lint:
    name: golangci-lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.26'
      - name: Cache protoc
        uses: actions/cache@v4
        with:
          path: ~/.protoc
          key: protoc-${{ runner.os }}-${{ hashFiles('scripts/setup.sh') }}
      - name: Run setup
        run: bash ./scripts/setup.sh ci
      - name: Run linters
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.10
